<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title class="font-kanit">รายการนัดหมาย</ion-title>

    <ion-buttons end>
      <button ion-button icon-only >
        <ion-icon name="options" color="light" style="font-size: 2rem;"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-card *ngFor="let item of books$ | async" class="card-hover" (click)="onDetail(item)">
    <ion-item>
      <div item-start>
        <ion-icon name="md-calendar" color="dark" style="font-size: 1.4em;"></ion-icon>
      </div>
      <div item-start style="margin-right: 10px;margin-top: 16px;">
        <h2 style="font-size: 13px;">{{item.datetime | appointmentDate}}</h2>
        <p style="font-size: 10px; margin: 5px 0 8px 0">
          <span>{{item.service}}</span>
          <span class="dot"> . </span>
          <span>{{item.duration | minuteTh}}</span>
          <span class="dot"> . </span>
          <span>{{item.cost | currencyBath}}</span>
        </p>
      </div>
      <div item-end style="text-align: center; margin-right: 10px">
        <h2 style="font-size: 12px;">{{item.status}}</h2>
      </div>
    </ion-item>
  </ion-card>


    <!-- <button ion-button color="primary" (click)="clickMe()">
      <span *ngIf="!clicked">Click Me</span>
      <span *ngIf="clicked" style="padding: 0 1.5rem 0 1.5rem">
        <div class="la-ball-pulse-sync la-sm">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </span>
    </button> -->


    <!-- <ion-card *ngFor="let item of books$ | async" class="card-hover" (click)="onDetail(item)">
        <ion-item>
          <div item-start>
            <h2 style="font-size: 2rem">{{item.datetime.date | date: 'MM'}}</h2>
            <p>{{item.datetime.date | monthTh}}</p>
          </div>
          <div item-start style="text-align: center; margin-right: 20px">
            <h3>{{item.datetime.start_time | date: 'H:MM'}}</h3>
            <p style="font-size: 1rem">{{item.duration | minuteTh}}</p>
          </div>
          <div item-start>
            <h3>{{item.service}}</h3>
          </div>
          <div item-end>
            <h3>{{item.status}}</h3>
          </div>
        </ion-item>
      </ion-card> -->
</ion-content>
