// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'kanit-medium';
    src: url('../assets/fonts/Kanit/Kanit-Medium.ttf');
 }

@font-face {
    font-family: 'kanit-regular';
    src: url('../assets/fonts/Kanit/Kanit-Regular.ttf');
 }


.card-hover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05) !important;
    -webkit-box-shadow: 3px 20px 34px 3px rgba(0,0,0,0.1);
    box-shadow: 6px 20px 34px 3px rgba(0,0,0,0.1) !important;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    will-change: auto;
  
  }
  
  .card-hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    will-change: auto;
  }

  span.dotSplitter {
    position: relative;
    font-size: 19px;
    margin: -5px 3px 0 3px;
  }


// Loading Awesome
// ------------------------------------------------------

.la-ball-pulse-sync,
.la-ball-pulse-sync > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.la-ball-pulse-sync {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-pulse-sync.la-dark {
    color: #333;
}

.la-ball-pulse-sync > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-pulse-sync {
    width: 54px;
    height: 18px;
}

.la-ball-pulse-sync > div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    -webkit-animation: ball-pulse-sync .6s infinite ease-in-out;
       -moz-animation: ball-pulse-sync .6s infinite ease-in-out;
         -o-animation: ball-pulse-sync .6s infinite ease-in-out;
            animation: ball-pulse-sync .6s infinite ease-in-out;
}

.la-ball-pulse-sync > div:nth-child(1) {
    -webkit-animation-delay: -.14s;
       -moz-animation-delay: -.14s;
         -o-animation-delay: -.14s;
            animation-delay: -.14s;
}

.la-ball-pulse-sync > div:nth-child(2) {
    -webkit-animation-delay: -.07s;
       -moz-animation-delay: -.07s;
         -o-animation-delay: -.07s;
            animation-delay: -.07s;
}

.la-ball-pulse-sync > div:nth-child(3) {
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
}

.la-ball-pulse-sync.la-sm {
    width: 26px;
    height: 8px;
}

.la-ball-pulse-sync.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 2px;
}

.la-ball-pulse-sync.la-2x {
    width: 108px;
    height: 36px;
}

.la-ball-pulse-sync.la-2x > div {
    width: 20px;
    height: 20px;
    margin: 8px;
}

.la-ball-pulse-sync.la-3x {
    width: 162px;
    height: 54px;
}

.la-ball-pulse-sync.la-3x > div {
    width: 30px;
    height: 30px;
    margin: 12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    66% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@-moz-keyframes ball-pulse-sync {
    33% {
        -moz-transform: translateY(100%);
             transform: translateY(100%);
    }
    66% {
        -moz-transform: translateY(-100%);
             transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateY(0);
             transform: translateY(0);
    }
}
@-o-keyframes ball-pulse-sync {
    33% {
        -o-transform: translateY(100%);
           transform: translateY(100%);
    }
    66% {
        -o-transform: translateY(-100%);
           transform: translateY(-100%);
    }
    100% {
        -o-transform: translateY(0);
           transform: translateY(0);
    }
}
@keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(100%);
           -moz-transform: translateY(100%);
             -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    66% {
        -webkit-transform: translateY(-100%);
           -moz-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
             -o-transform: translateY(0);
                transform: translateY(0);
    }
}

ion-title {
    background: linear-gradient(to right, #00C6BF , #00AECC);
}

/* .item.item-input {
    background-color: transparent;
}
 */
/* .item {
    background-color: rgba(255, 255, 255, 0.2);
}
 */

// background: linear-gradient(to right, #00C6BF , #00AECC);

.bgLogin {
    background-image: url('../assets/imgs/dental-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.rsu-logo {
    background-image: url('../assets/imgs/rsu-logo-01.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100px ;
    height: 150px;
    margin: 1.5rem;
}

.content {
    background-color: color($colors, light);
}

.font-kanit {
    font-family: 'kanit-regular';
}
.dot {
    font-size: 2rem;
    line-height: 0px;
    bottom: 1.5px;
    position: relative;
}

.back-button {
    color: color($colors, light);
}

.danger {
    color: color($colors, danger);
}